<html>
<head>
  <title><%="This is a test."%></title>
</head>
<body>
  <%
    self.puts "Weeeee!"
    self.import("org.kaspernj.mirah.erb2mirah.generated", "test_import.mirah.erb")
  %>
</body>
</html>